@{
    ViewBag.Title = "Index";
}

<h2>Лицензи</h2>
<br />
@if (BS.Admin.Web.RolesManager.CanCreateLicense(User.Identity))
{
    @Html.ActionLink("Създай лиценз", "Create", "License") 
}

<br />
<br />
<br />

@{ Html.RenderAction("Search"); }