@{
    ViewBag.Title = "Index";
}

<h2>Лицензи</h2>
<br />
@if (BS.Admin.Web.RolesManager.CanCreateLicense(User.Identity))
{
    @Html.ActionLink("Създай лиценз", "Create", "License") 
}

<br />
<br />
<br />

@*@{ Html.RenderAction("Search"); }*@

<link type="text/css" rel="stylesheet" href="../Scripts/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="../Scripts/jsgrid-theme.min.css" />

<script type="text/javascript" src="../Scripts/jsgrid.js"></script>

<div id="jsGrid"></div>

<script>
    //https://github.com/tabalinas/jsgrid
    $(function () {
        var countries = [
            { Name: "", Id: 0 },
            { Name: "За компютър", Id: 1 },
            { Name: "За потребител", Id: 2 },
            { Name: "За сървър", Id: 3 },
        ];
        
        $("#jsGrid").jsGrid({
            height: "650px",
            width: "100%",

            filtering: true,
            inserting: false,
            editing: false,
            sorting: true,
            paging: true,
            autoload: true,

            pageLoading: true,

            pageSize: 10,
            pageButtonCount: 5,

            deleteConfirm: "Do you really want to delete client?",
            controller: {
                loadData: function (filter) {
                    return $.ajax({
                        type: "GET",
                        url: "/license/data",
                        data: filter,
                        dataType: "json"
                    });
                },
            },

            fields: [
                { name: "Id", title: "Идентификатор", type: "text", width: 180, filtering: false },
                { name: "ValidTo", title: "Валиден до", type: "text", width: 100 },
                { name: "Demo", title: "Демо", type: "checkbox", width: 50 },
                { name: "Created", title: "Създаден на", type: "text", width: 100 },
                { name: "Activated", title: "Активиран", type: "checkbox", width: 60 },
                { name: "Enabled", title: "Потвърден", type: "checkbox", width: 60 },
                { name: "Type", title: "Вид", type: "select", items: countries, valueField: "Id", textField: "Name" },
                { type: "control" }
            ]
        });

    });
</script>