@{
    ViewBag.Title = "UnAuthorized";
}

<h2>Неоторизиран достъп</h2>

<h3 style="color:red">Нямате права да извършвате тази операция</h3>

@Html.ActionLink("Върнете се на начална страница", "Index", "License")

