<div id="jsGrid-api-log"></div>

<script>
    //https://github.com/tabalinas/jsgrid

    $(function () {

        $("#jsGrid-api-log").jsGrid({
            height: "550px",
            width: "100%",

            filtering: true,
            inserting: false,
            editing: false,
            sorting: true,
            paging: true,
            autoload: true,

            pageLoading: true,

            pageSize: 10,
            pageButtonCount: 5,

            deleteConfirm: "Do you really want to delete client?",
            controller: {
                loadData: function (filter) {
                    return $.ajax({
                        type: "GET",
                        url: "/settings/apilogdata",
                        data: filter,
                        dataType: "json"
                    });
                },
            },

            fields: [
               // { name: "Id", title: "Id", type: "text", width: 150, filtering: false },
                { name: "RequestUri", title: "Заявка - път", type: "text", width: 50 },
                { name: "AbsoluteUri", title: "Заявка - път с параметри", type: "text", width: 150 },
                { name: "RequestMethod", title: "Метод", type: "text", width: 50 },
                { name: "RequestIpAddress", title: "IP Адрес", type: "text", width: 50 },
                { name: "ResponseTimestamp", title: "Дата", type: "date", width: 50 },
                { name: "ResponseStatusCode", title: "Статус код - отговор", type: "text", width: 50 },
                {
                    type: "control",
                    itemTemplate: function (value, item) {
                        var div = $("<div>");

                        if (item.DetailUrl != undefined && item.DetailUrl != null && item.DetailUrl != '') {
                            var $link = $("<a class='jsgrid-button jsgrid-search-button' style='padding-left:15px' href=" + item.DetailUrl + ">");
                            div.append($link);
                        }

                        return div;
                    }
                }
            ]
        });

    });
</script>
