@using BS.Common
@model BS.Admin.Web.Models.UserIndexModel
@{
    ViewBag.Title = "Потребители на лицензи";
}

<style>
    .large-width {
        width: 200px;
    }

    .small-width {
        width: 100px;
    }

    .odd {
    }

    .even {
        background: burlywood;
    }

    td {
        text-align: center;
    }

    /*.border-small {
        border-bottom: 5px solid black;
    }*/
</style>
<h2>@ViewBag.Title</h2>
<br />
@if (BS.Admin.Web.RolesManager.CanCreateLicense(User.Identity))
{
    @Html.ActionLink("Създай потребител", "Create", "UserLicense")
}

<br />
<br />
<br />

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Демо</a></li>
        <li><a href="#tabs-2">Реални</a></li>
    </ul>
    <div id="tabs-1">
        @{ Html.RenderPartial("UsersTable", new BS.Admin.Web.Models.UserLicenseGridModel() { Demo = true }); }
    </div>
    <div id="tabs-2">
        @{ Html.RenderPartial("UsersTable", new BS.Admin.Web.Models.UserLicenseGridModel() { Demo = false }); }
    </div>
</div>

<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>