<h2>Потребители на лицензи</h2>
<br />
@if (BS.Admin.Web.RolesManager.CanCreateLicense(User.Identity))
{
    @Html.ActionLink("Създай потребител", "Create", "UserLicense")
}

<br />
<br />
<br />

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Демо</a></li>
        <li><a href="#tabs-2">Реални</a></li>
    </ul>
    <div id="tabs-1">
        @{ Html.RenderPartial("UsersTable", new BS.Admin.Web.Models.UserLicenseGridModel() { Demo = true }); }
    </div>
    <div id="tabs-2">
        @{ Html.RenderPartial("UsersTable", new BS.Admin.Web.Models.UserLicenseGridModel() { Demo = false }); }
    </div>
</div>

<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>