@model BS.Admin.Web.Models.LicenseGridModel

<div id="jsGrid"></div>

<script>
    //https://github.com/tabalinas/jsgrid
    var userId = '@Model.UserId';    
    var loadUrl = "/license/data";
    if (userId != ''){
        loadUrl += "?userId=" + userId;
    }

    $(function () {
        var countries = [
            { Name: "", Id: 0 },
            { Name: "За Компютър", Id: 1 },
            { Name: "За Потребител", Id: 2 },
            { Name: "За Сървър", Id: 3 },
        ];

        $("#jsGrid").jsGrid({
            height: "550px",
            width: "100%",

            filtering: true,
            inserting: false,
            editing: false,
            sorting: true,
            paging: true,
            autoload: true,

            pageLoading: true,

            pageSize: 10,
            pageButtonCount: 5,

            controller: {
                loadData: function (filter) {
                    return $.ajax({
                        type: "GET",
                        url: loadUrl,
                        data: filter,
                        dataType: "json"
                    });
                },
            },

            fields: [
                { name: "Id", title: "Идентификатор", type: "text", width: 150, filtering: false },
                { name: "ValidTo", title: "Валиден до", type: "date", width: 100 },
                { name: "Demo", title: "Демо", type: "checkbox", width: 50 },
                { name: "UserName", title: "Потребител", type: "text", width: 150 },
                { name: "Created", title: "Създаден на", type: "date", width: 100 },
                { name: "Activated", title: "Активиран", type: "checkbox", width: 60 },
                { name: "Enabled", title: "Потвърден", type: "checkbox", width: 60 },
                { name: "Type", title: "Вид", type: "select", items: countries, valueField: "Id", textField: "Name" },
                {
                    type: "control",
                    itemTemplate: function (value, item) {
                        var div = $("<div>");
                        if (item.EditUrl != undefined && item.EditUrl != null && item.EditUrl != ''){
                            var $link = $("<a class='jsgrid-button jsgrid-edit-button' style='padding-left:15px' href=" + item.EditUrl + ">");
                            div.append($link);
                        }

                        if (item.DetailUrl != undefined && item.DetailUrl != null && item.DetailUrl != '') {
                            var $link = $("<a class='jsgrid-button jsgrid-search-button' style='padding-left:15px' href=" + item.DetailUrl + ">");
                            div.append($link);
                        }

                        return div.html();
                    }
                }
            ]
        });

    });
</script>